@use 'src/assets/styles/base';
@import 'src/assets/styles/extends';


.container {
  display: grid;
  grid-template-rows: 100px 1fr;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: map-get(base.$app_width, container);
  gap: 50px;
  margin: 0 auto;

  .form {
    justify-self: center;
  }


  .list {
    align-self: center;
    justify-self: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    list-style: none;
  }
}
