@import '../../../../assets/styles/extends';

.film_item {
  display: grid;
  grid-template-rows: 1fr 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  img {
      width: 200px;
      height: auto;
    }

  .rating {
    @extend %flex;
    position: absolute;
    bottom: 25px;
    right: 10px;
    border: 2px solid black;
    border-radius: 16px;
    font-weight: 600;
    font-size: 0.7em;
    color: deeppink;
    width: 30px;
    height: 30px;
    background-color: #fff;

  }
}