@use "src/assets/styles/base";
@import 'src/assets/styles/extends';



.container {
  @extend %background;
  display: flex;
  justify-content: center;
  width: map-get(base.$app_width, app);
  height: map-get(base.$app_height, content);
  margin: 0 auto;
}

