@use 'src/assets/styles/base';
@use 'src/index';



.btn {

  button {
    display: flex;
    align-items: center;
    gap: 8px;
    border:none;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    font-family: map-get(base.$font_families, other);
  }
}
