@use 'sass:map';

$app_width: (
        app: 1100px,
        container: 900px,
        block: 600px,
);

$app_height: (
        app: 100vh,
        header: 120px,
        content: calc(100vh - 120px),

);


$font_sizes: (
        xxl: 2em,
        large: 1.5em,
        medium: 1.2em,
        medium_s: 1.05em,
        small: 0.8em,
);

$font_weights: (
        normal:400,
        medium: 500,
        semi_bold:600,
        bold: 700,
);

$font_families: (
        classic: 'Orienta',
        header:'Gajraj One',
        other:'Shantell Sans',
)
