@use 'src/assets/styles/base';
@use 'src/index';
@import 'src/assets/styles/extends';


.link {
  display: flex;
  gap: 10px;
  font-size: 1.1em;

  .title {
    font-family: map-get(base.$font_families, classic);
    cursor: pointer;
    color: #fff;
    transition: 1s all;
  }

  .rating {
    display: flex;
    gap: 5px;
    color: goldenrod;
  }

  .date {
    display: flex;
    align-items: center;
    font-size: map-get(base.$font_sizes, small);
  }
}

.link:hover {
  color: purple;
  transform: scale(1.2);
}