@use 'src/assets/styles/base';
@use 'src/index';
@import 'src/assets/styles/extends';


.film_item {
  @extend %flex;
  flex-direction: column;
  grid-template-rows: 1fr 20px;;
  position: relative;
  padding: 0;


  .rating {
    @extend %flex;
    position: absolute;
    bottom: 25px;
    right: 10px;
    border: 2px solid black;
    border-radius: 16px;
    font-weight: 600;
    font-size: 0.7em;
    color: deeppink;
    width: 30px;
    height: 30px;
    background-color: #fff;
  }

  .card {
    @extend %flex;
    flex-direction: column;
    font-size: map-get(base.$font_sizes, small);
    background-color: var(--bg-color-header);
    color: var(--secondary-color);
    border: none;
    padding-bottom: 10px;
    border-radius: 10px;
    justify-content: center;

    img {
      width: 150px;
      height: 30vh;
      border-radius: 10px 10px 0 0;
    }
  }
}