
.container {
  width: 900px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  list-style: none;
  align-items: center;
  margin-top: 50px;
  justify-content: center;
}